*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /* color: #333; */
    letter-spacing: 2px;
    font-size: 20px;
}
.container{
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background-color: #fff;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}
.blue{
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
    background-color: #157FED;
}
.diamond{
    position: absolute;
    top: 50px;
    left: 405px;
    width: 500px;
    height: 500px;
    background-color: #fff;
    transform: rotate(40deg);
}
.subcontainer{
    margin: auto;
    top: 50px;
    position: relative;
    width: 1000px;
    height: 520px;
    display: flex;
    flex-direction: row;
    box-shadow: 5px 10px 8px rgba(68, 68, 68, 0.658);
}
/* LEFT CORNER CONTAINER */
.leftcorner{
    position: relative;
    left: 0;
    height: 100%;
    width: 320px;
    background-color: #157FED;
    padding: 10px;
    color: #fff;
}
.leftcorner::before{
    content: "";
    position: absolute;
    display: inline-block;
    /* top: 0; */
    width: 295px;
    height: 495px;
    margin: auto;
    border: 2px dashed #59A4F2;
}
.usericon{
    top: 3px;
}
.title{
    position: relative;
    margin-top: 20px;
    top: 30px;
    left: 20px;
    font-size: 15px;
    font-weight: lighter;
    color: #a2c3e7;
}
.name{
    position: relative;
    top: 40px;
    left: 50px;
    font-size: 20px;
    font-weight: 100;
}
.line1{
    position: relative;
    top: 70px;
    border: 1px solid #a2c3e7;
    width: 250px;
}
.Amount{
    position: relative;
    top: 100px;
    left: 20px;
    font-size: 15px;
    font-weight: lighter;
    color: #a2c3e7;
    display: flex;
}
img{
    display: inline;
    position: relative;
    top: -3px;
    width: 20px;
    height: 20px;
    fill: #a2c3e7;
}
.totalprice{
    position: relative;
    top: 110px;
    left: 50px;
    font-size: 20px;
    font-weight: 100;
}
.line2{
    position: relative;
    top: 140px;
    border: 1px solid #a2c3e7;
    width: 250px;
}
.Datelimit{
    position: relative;
    top: 170px;
    left: 20px;
    font-size: 15px;
    font-weight: lighter;
    color: #a2c3e7;
    display: flex;
}
.limit{
    position: relative;
    top: 180px;
    left: 50px;
    font-size: 20px;
    font-weight: 100;
}
.line3{
    position: relative;
    top: 210px;
    border: 1px solid #a2c3e7;
    width: 250px;
}
.Companyname{
    position: relative;
    top: 240px;
    left: 20px;
    font-size: 15px;
    font-weight: lighter;
    color: #a2c3e7;
    display: flex;
}
.company{
    position: relative;
    top: 250px;
    left: 50px;
    font-size: 20px;
    font-weight: 100;
}
/* RIGHT CORNER CONTAINER */
.rightcorner{
    position: relative;
    /* right: 0; */
    width: 680px;
    height: 100%;
    padding: 10px;
    background-color: #F8FCFE;
}
.backicon{
    display: inline;
    width: 15px;
    height: 15px;
}
.back {
    outline: none;
    border: none;
    line-height: 50px;
    font-size: 80%;
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    width: 40px;
    height: 30px;
    background-color:  #338be9;
    opacity: 0.8;
    cursor: pointer;
}
.back:hover {
    opacity: 1;
    /* background-color: #338be9; */
}
.LOGO{
    display: inline;
    position: relative;
    width: 150px;
    height: 50px;
    top: 20px;
    left: 20px;
}
.date{
    position: absolute;
    top: 60px;
    right: 20px;
    font-size: 12px;
    font-weight: 500;
    color:  #59A4F2;
}
.line4{
    position: relative;
    top: 85px;
    border: 1px solid #157FED;
    width: 600px;
}
.pdet{
    position: relative;
    top: 40px;
    left: 247.5px;
    width: 185px;
    color: #157FED;
    font-size: 20px;
    font-weight: 700;
}
.pdet2{
    position: relative;
    top: 180px;
    left: 40px;
    font-size: 12px;
    color: #157FED;
    font-weight: bolder;
}
.pdet3{
    position: relative;    
    top: 182px;
    left: 40px;
    font-size: 12px;
    color: #59A4F2;
    width: 250px;
}
.pdet4{
    position: relative;
    top: 190px;
    left: 40px;
    font-size: 12px;
    color: #59A4F2;
    width: 250px;
    font-weight: bolder;
}
.choice{
    position: absolute;
    top: 263px;
    right: 150px;
    font-size: 12px;
    color: #157FED;
    font-weight: bolder;
}
.bottom2{
    position: absolute;
    top: 278px;
    right: 65px;
    display: grid;
    grid-template-columns: auto 120px;
}
.amt2, .dpay2, .amtnum2, .dpaynum2{
    position: relative;
    font-size: 12px;
    padding: 5px;
    color: #59A4F2;
}
.amt2, .dpay2{
    color: #157FED;
    font-weight: bold;
    text-align: right;
    padding-right: 60px;
}
.amtnum2, .dpaynum2{
    padding-top: 7px;
}
.bottom2 input[type=radio]{
    position: relative;
    top: 2px;
    left: 10px;
}
.grid{
    position: absolute;
    top: 135px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
    width: 620px;
    border-collapse: collapse;
    left: 30px;
    color: #59A4F2;
}
.grid-item1{
    font-weight: bold;
    color: #157FED;
    border-top: 2px solid #157FED;
    border-bottom: 2px solid #157FED;
}
.grid-item1, .grid-item {
    padding: 10px;
    font-size: 15px;
    text-align: left;
}
.grid-item{font-size: 12px;    color: #59A4F2;
    border-bottom: 2px solid #157FED;}
.line5{
    position: relative;
    top: 160px;
    left: 30px;
    border: 1px solid #a2c3e7;
    width: 420px;
}
.price{
    position: absolute;
    top: 253px;
    left: 470px;
    font-size: 15px;
    color: #a2c3e7;
}
.costumername{
    position: relative;
    top: 180px;
    left: 50px;
    width: fit-content;
    color: #a2c3e7;
}
.detail{
    position: relative;
    top: 190px;
    left: 50px;
    width: fit-content;
    font-size: 15px;
    color: #a2c3e7;
}
.payment{
    position: relative;
    top: 195px;
    left: 50px;
    width: fit-content;
    font-size: 15px;
    color: #a2c3e7;
}
.detail2{
    position: relative;
    top: 200px;
    left: 50px;
    width: 580px;
    font-size: 13px;
    color: #a2c3e7;
    line-height: 20px;
}
.detail2 input[type=radio]{
    position: relative;
    top: 2px;
}
b{font-size: 15px;color: #333;}
.note{
    position: relative;
    top: 220px;
    left: 50px;
    width: 300px;
    font-size: 13px;
    color: #a2c3e7;
    line-height: 20px;
}
.line6{
    position: relative;
    top: 240px;
    border: 1px solid #a2c3e7;
    width: 600px;
}
.invoce{
    position: absolute;
    top: 40px;
    right: 20px;
    font-size: 12px;
    font-weight: 500;
    color:  #59A4F2;
}
.reservebtn{
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 200px;
    border: none;
    /* background-color: #59A4F2; */
    padding: 15px;
    color: #fff;
    cursor: pointer;
    border-top-left-radius: 30px;
    background-color:  #338be9;
    opacity: 0.8;
    outline:none;
}
.reservebtn:hover{
    opacity: 1;
}
.ncontainer{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fff;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    color: #333;
}
.notice{
    margin: auto;
    top: 50px;
    position: relative;
    width: 1000px;
    height: 520px;
    display: flex;
    flex-direction: row;
    color:  #157FED;
    box-shadow: 5px 10px 8px rgba(68, 68, 68, 0.658);
}
.notice1{
    position: relative;
    top: 130px;
    left: 50px;
    font-size: 20px;
    font-weight: 100;
}
.notice2{
    position: relative;
    top: 150px;
    left: 50px;
    font-size: 20px;
    font-weight: 100;
    width: 570px;
}
.notice3{
    position: relative;
    top: 170px;
    left: 50px;
    font-size: 20px;
    font-weight: 100;
    width: 570px;
}
.line7{
    position: relative;
    top: 220px;
    border: 1px solid #157FED;
    width: 600px;
}
.limit2{
    position: relative;
    top: 180px;
    left: 53px;
    width: 200px;
    font-size: 10px;
    font-weight: 100;
}
/* BUYORDEAL------------------------------------------------- */
.subcontainer2{
    margin: auto;
    top: 10px;
    position: relative;
    width: 1000px;
    height: 590px;
    display: flex;
    flex-direction: row;
    box-shadow: 5px 10px 8px rgba(68, 68, 68, 0.658);
}
.leftcorner2{
    position: relative;
    left: 0;
    height: 100%;
    width: 320px;
    background-color: #157FED;
    padding: 10px;
    color: #fff;
}
.leftcorner2::before{
    content: "";
    position: absolute;
    display: inline-block;
    /* top: 0; */
    width: 295px;
    height: 565px;
    margin: auto;
    border: 2px dashed #59A4F2;
}
.rightcorner2{
    position: relative;
    /* right: 0; */
    width: 680px;
    height: 100%;
    padding: 10px;
    background-color: #F8FCFE;
}
.LOGO2{
    display: inline;
    position: relative;
    width: 150px;
    height: 50px;
    top: 20px;
    left: 20px;
}
.dt{
    position: absolute;
    top: 60px;
    right: 20px;
    font-size: 12px;
    font-weight: 500;
    color:  #59A4F2;
}
.bordertop{
    position: absolute;
    top: 143px;
    left: 30px;
    width: 620px;
    border-top: 2px solid #157FED;
    z-index: 3;
}
.borderbottom{
    position: absolute;
    top: 181px;
    left: 30px;
    width: 620px;
    z-index: 3;
    border-top: 2px solid #157FED;
}
.inv{
    position: absolute;
    top: 40px;
    right: 20px;
    font-size: 12px;
    font-weight: 500;
    color:  #59A4F2;
}
.pd{
    position: relative;
    top: 40px;
    left: 247.5px;
    width: 185px;
    color: #157FED;
    font-size: 20px;
    font-weight: 700;
}
.table{
    position: relative;
    width: fit-content;
    left: 20px;
    top: 60px;
    height: 300px;
    overflow: auto;
    overflow-x: hidden;
    z-index: 1;
}
/* SCROLLBAR */
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #59A4F2; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #157FED; 
  }
table{
    position: relative;
    width: 620px;
    border-collapse: collapse;
    border-bottom: 2px solid #157FED;
    color: #59A4F2;
}
th{
    padding: 10px;
    top: 2px;
    border-top: 2px solid #157FED;
    border-bottom: 2px solid #157FED;
    font-size: 15px;
    text-align: left;
    color: #157FED;
    white-space: nowrap;
    position: sticky;
    background-color: #F8FCFE;
}
td{ 
    padding: 10px;
    font-weight: 500;
    font-size: 12px;
    text-align: left;
    border-bottom: 2px dashed #338be9;
}
.option{
    position: absolute;
    bottom: 120px;
    right: 150px;
    font-size: 12px;
    color: #157FED;
    font-weight: bolder;
}
.option2{
    position: absolute;
    bottom: 120px;
    left: 40px;
    font-size: 12px;
    color: #157FED;
    font-weight: bolder;
}
.option3{
    position: absolute;
    bottom: 90px;
    left: 40px;
    font-size: 12px;
    color: #59A4F2;
    width: 250px;
}
.option4{
    position: absolute;
    bottom: 70px;
    left: 40px;
    font-size: 12px;
    color: #59A4F2;
    width: 250px;
    font-weight: bolder;
}
.bottom{
    position: absolute;
    bottom: 65px;
    right: 65px;
    display: grid;
    grid-template-columns: auto 120px;
}
.amt, .dpay, .amtnum, .dpaynum{
    position: relative;
    font-size: 12px;
    padding: 5px;
    color: #59A4F2;
}
.amt, .dpay{
    color: #157FED;
    font-weight: bold;
    text-align: right;
    padding-right: 60px;
}
.amtnum, .dpaynum{
    padding-top: 7px;
}
.bottom input[type=radio]{
    position: relative;
    top: 2px;
    left: 10px;
}
.buy{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 200px;
    border: none;
    /* background-color: #59A4F2; */
    padding: 15px;
    color: #fff;
    cursor: pointer;
    border-top-left-radius: 30px;
    background-color:  #338be9;
    opacity: 0.8;
    outline: none;
}
.buy:hover{
    opacity: 1;
}
.usericon2{
    top: 3px;
}
.title2{
    position: relative;
    margin-top: 55px;
    top: 30px;
    left: 20px;
    font-size: 15px;
    font-weight: lighter;
    color: #a2c3e7;
}
.name2{
    position: relative;
    top: 40px;
    left: 50px;
    font-size: 20px;
    font-weight: 100;
}
.Amount2{
    position: relative;
    top: 100px;
    left: 20px;
    font-size: 15px;
    font-weight: lighter;
    color: #a2c3e7;
    display: flex;
}
.totalprice2{
    position: relative;
    top: 110px;
    left: 50px;
    font-size: 20px;
    font-weight: 100;
}
.Datelimit3{
    position: relative;
    top: 170px;
    left: 20px;
    font-size: 15px;
    font-weight: lighter;
    color: #a2c3e7;
    display: flex;
}
.limit3{
    position: relative;
    top: 180px;
    left: 50px;
    font-size: 20px;
    font-weight: 100;
}
.Companyname2{
    position: relative;
    top: 240px;
    left: 20px;
    font-size: 15px;
    font-weight: lighter;
    color: #a2c3e7;
    display: flex;
}
.company2{
    position: relative;
    top: 250px;
    left: 50px;
    font-size: 20px;
    font-weight: 100;
}
input[type="radio"]:focus {
    outline: none;
}
input[type="radio"]::-ms-check {
    display: none;
}
input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 15px;
    width: 15px;
    border-radius: 10px;
    border: 1px solid silver;
}

input[type="radio"]:checked {
    background-color: #157FED;
}
.comname{
    position: relative;
    top: 20px;
    left: 75px;
    font-size: 25px;
    font-weight: 100;
    color:  #F8FCFE;
}
.about{
    position: relative;
    top: 30px;
    left: 55px;
    font-size: 12px;
    color: #a2c3e7;
    font-weight: lighter;
}
.helo{
    position: relative;
    top: 70px;
    left: 20px;
    font-size: 17px;
    font-weight: 500;
    color:  #F8FCFE;
    display: flex;
}
.detname{
    position: relative;
    top: 70px;
    left: 20px;
    font-size: 17px;
    color: #a2c3e7;
    font-weight: lighter;
}
.detdet{
    position: relative;
    top: 80px;
    left: 20px;
    width: 260px;
    font-size: 12px;  
    color: #a2c3e7;
    font-weight: lighter;
}
.grid-container{
    top: 120px;
    position: relative;
    display: grid;
    left: 20px;
    width: 270px;
    grid-template-columns: auto auto;
}
.items{
    font-size: 17px;
    font-weight: 500;
    color:  #F8FCFE;
}
.items:nth-child(2){
    padding-left: 26px;
}
.items:nth-child(6){
    padding-left: 26px;
}
.items:nth-child(3), .items:nth-child(4){
    padding-bottom: 25px;
}
.items:nth-child(4), .items:nth-child(8){
    padding-left: 26px;
}
.items:nth-child(3), .items:nth-child(4),
.items:nth-child(7), .items:nth-child(8){
    font-size: 12px;
    color: #a2c3e7;
    font-weight: lighter;
}
.link{
    font-size: 12px;
    text-decoration: none;
    color:  #F8FCFE;
    opacity: 0.8;
}
.link:hover{
    opacity: 1;
}
.question{
    top: 150px;
    font-size: 10px;
    color: #a2c3e7;
    font-weight: lighter;
    position: relative;
    left: 10px;
}
.question a{
    font-size: 10px;
    color: #a2c3e7;
    font-weight: lighter;
    position: relative;
    left: 10px;
}